In [30]:
import pandas as pd
df = pd.read_excel("sqf_2023.xlsx")
%matplotlib inline
#This data is from 2023 NYC Open Data found here: https://www.nyc.gov/site/nypd/stats/reports-analysis/stopfrisk.page

In [33]:
df.head()

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,...,SUSPECT_OTHER_DESCRIPTION,STOP_LOCATION_PRECINCT,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
0,1,2023-01-01,00:44:00,2023,January,Sunday,Based on Radio Run,APP,POM,804,...,BLUE HOODIE BLUE JEANS,5,A,3B,46 MADISON ST,MADISON ST,984781,198509,PBMS,MANHATTAN
1,2,2023-01-01,00:49:00,2023,January,Sunday,Based on Self Initiated,APP,POM,69,...,UNK,69,B,(null),9910 SEAVIEW AVE,SEAVIEW AVE,1015557,170379,PBBS,BROOKLYN
2,3,2023-01-01,05:31:00,2023,January,Sunday,Based on Radio Run,APP,POM,83,...,NaN,83,D,(null),TROUTMAN ST && ST NICHOLAS AVE,TROUTMAN ST,1005940,197103,PBBN,BROOKLYN
3,4,2023-01-01,04:59:00,2023,January,Sunday,Based on Self Initiated,APP,POM,113,...,(null),113,B,(null),FARMERS BLVD && 135 AVE,FARMERS BLVD,1049830,185439,PBQS,QUEENS
4,5,2023-01-01,05:21:00,2023,January,Sunday,Based on Self Initiated,APP,POF,46,...,(null),46,B,(null),2463 WEBSTER AVE,WEBSTER AVE,1013821,252710,PBBX,BRONX

In [34]:
df.tail()

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,...,SUSPECT_OTHER_DESCRIPTION,STOP_LOCATION_PRECINCT,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
16966,16967,2023-12-31,07:10:00,2023,December,Sunday,Based on C/W on Scene,APP,PO,114,...,BLACK JACKET BLACK SNEAKERS BROWN PANTS BLACK ...,114,D,(null),26-01 1 ST,1 ST,1002122,222229,PBQN,QUEENS
16967,16968,2023-12-31,07:10:00,2023,December,Sunday,Based on C/W on Scene,APP,PO,114,...,BLACK BEANIE HAT BLACK COAT BLACK PANTS BROWN ...,114,D,(null),26-01 1 ST,1 ST,1002122,222229,PBQN,QUEENS
16968,16969,2023-12-31,07:10:00,2023,December,Sunday,Based on C/W on Scene,APP,PO,114,...,BLACK COAT GREY PANTS WHITE NIKE SNEAKERS WITH...,114,D,(null),26-01 1 ST,1 ST,1002122,222229,PBQN,QUEENS
16969,16970,2023-12-31,00:42:00,2023,December,Sunday,Based on C/W on Scene,APP,PO,104,...,BLACK JACKET/ BLUE JEANS,104,C,(null),66 ST && 53 DR,66 ST,1012174,205064,PBQN,QUEENS
16970,16971,2023-12-31,21:44:00,2023,December,Sunday,Based on Radio Run,APP,PO,81,...,(null),81,A,(null),58 LEWIS AVE,LEWIS AVE,1001521,192750,PBBN,BROOKLYN

In [35]:
#I'm removing extra columns from this dataset
df_clean = df[['STOP_FRISK_DATE', 'STOP_LOCATION_PRECINCT', 'SUSPECTED_CRIME_DESCRIPTION', 'WEAPON_FOUND_FLAG', 'SUSPECT_REPORTED_AGE', 'SUSPECT_SEX','SUSPECT_RACE_DESCRIPTION']]

In [36]:
df_clean.head(10)

,STOP_FRISK_DATE,STOP_LOCATION_PRECINCT,SUSPECTED_CRIME_DESCRIPTION,WEAPON_FOUND_FLAG,SUSPECT_REPORTED_AGE,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION
0,2023-01-01,5,MENACING,N,32,MALE,BLACK
1,2023-01-01,69,CPW,Y,23,MALE,WHITE HISPANIC
2,2023-01-01,83,CPW,N,30,MALE,WHITE HISPANIC
3,2023-01-01,113,CPW,N,20,MALE,BLACK
4,2023-01-01,46,CPW,Y,25,MALE,BLACK HISPANIC
5,2023-01-01,6,ASSAULT,N,14,MALE,WHITE HISPANIC
6,2023-01-01,23,CPW,N,26,MALE,BLACK
7,2023-01-02,25,MENACING,N,41,MALE,BLACK
8,2023-01-02,68,GRAND LARCENY AUTO,N,(null),MALE,WHITE HISPANIC
9,2023-01-01,20,CPW,Y,65,MALE,BLACK

In [38]:
df_clean['STOP_LOCATION_PRECINCT']

0          5
1         69
2         83
3        113
4         46
        ...
16966    114
16967    114
16968    114
16969    104
16970     81
Name: STOP_LOCATION_PRECINCT, Length: 16971, dtype: int64

In [39]:
type(df['STOP_LOCATION_PRECINCT'][0])

numpy.int64

In [40]:
df_precinct = df_clean['STOP_LOCATION_PRECINCT'].value_counts()

In [41]:
df_precinct

STOP_LOCATION_PRECINCT
46     1518
48     1110
40      754
44      732
75      540
       ...
10       75
5        73
17       71
111      47
22       30
Name: count, Length: 77, dtype: int64

In [42]:
df_precinct.sort_values(ascending=False).head(8)

STOP_LOCATION_PRECINCT
46    1518
48    1110
40     754
44     732
75     540
43     516
42     509
52     469
Name: count, dtype: int64

In [43]:
df_precinct.sort_values(ascending=False).tail()

STOP_LOCATION_PRECINCT
10     75
5      73
17     71
111    47
22     30
Name: count, dtype: int64

In [44]:
df_precinct.to_csv('SF_precinct', index=True)

In [45]:
df_precinct

STOP_LOCATION_PRECINCT
46     1518
48     1110
40      754
44      732
75      540
       ...
10       75
5        73
17       71
111      47
22       30
Name: count, Length: 77, dtype: int64

In [46]:
#We are making sure that the dataset is accurate by printing all the stops in Precinct 22 and seeing if it matches the value_counts
df_clean[df_clean['STOP_LOCATION_PRECINCT'] == 22]

,STOP_FRISK_DATE,STOP_LOCATION_PRECINCT,SUSPECTED_CRIME_DESCRIPTION,WEAPON_FOUND_FLAG,SUSPECT_REPORTED_AGE,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION
1541,2023-02-08,22,CPW,N,40,FEMALE,WHITE HISPANIC
2328,2023-02-19,22,OTHER,N,27,MALE,BLACK
2329,2023-02-19,22,GRAND LARCENY,N,29,MALE,WHITE HISPANIC
2330,2023-02-20,22,CPW,N,14,MALE,BLACK
2914,2023-02-20,22,CPW,N,15,MALE,BLACK
3642,2023-03-24,22,FORCIBLE TOUCHING,N,33,MALE,ASIAN / PACIFIC ISLANDER
4610,2023-04-13,22,UNAUTHORIZED USE OF A VEHICLE,N,16,MALE,WHITE HISPANIC
4611,2023-04-13,22,UNAUTHORIZED USE OF A VEHICLE,N,17,MALE,WHITE
5670,2023-05-05,22,ASSAULT,N,17,MALE,BLACK
6130,2023-05-12,22,ASSAULT,N,47,MALE,ASIAN / PACIFIC ISLANDER
7074,2023-05-31,22,PETIT LARCENY,N,45,MALE,BLACK
7869,2023-06-17,22,ASSAULT,N,15,MALE,BLACK
7870,2023-06-17,22,ASSAULT,N,15,MALE,BLACK
8581,2023-06-17,22,ASSAULT,N,17,MALE,BLACK
9722,2023-07-29,22,ASSAULT,N,40,MALE,BLACK
10049,2023-08-06,22,ASSAULT,N,11,MALE,BLACK
10050,2023-08-06,22,ASSAULT,Y,12,MALE,BLACK
10051,2023-08-06,22,ASSAULT,N,13,MALE,BLACK
10291,2023-08-13,22,CPW,N,40,MALE,BLACK
11055,2023-08-29,22,ROBBERY,N,15,MALE,BLACK HISPANIC
12017,2023-09-17,22,GRAND LARCENY,N,12,MALE,(null)
12018,2023-09-17,22,GRAND LARCENY,N,14,MALE,(null)
12261,2023-09-27,22,CRIMINAL MISCHIEF,N,25,MALE,WHITE HISPANIC
12262,2023-09-27,22,CRIMINAL MISCHIEF,N,21,MALE,WHITE HISPANIC
12263,2023-09-27,22,CRIMINAL MISCHIEF,N,24,MALE,WHITE HISPANIC
12437,2023-09-27,22,CRIMINAL MISCHIEF,N,23,MALE,WHITE HISPANIC
13998,2023-10-26,22,PETIT LARCENY,N,27,MALE,WHITE
14412,2023-11-03,22,CRIMINAL MISCHIEF,Y,18,MALE,WHITE HISPANIC
14413,2023-11-03,22,CRIMINAL MISCHIEF,N,18,MALE,(null)
16865,2023-12-29,22,PETIT LARCENY,N,50,FEMALE,WHITE

In [47]:
#Seeing how many people were stop and frisked in each racial group
df_clean['SUSPECT_RACE_DESCRIPTION'].value_counts()

SUSPECT_RACE_DESCRIPTION
BLACK                             9939
WHITE HISPANIC                    3447
BLACK HISPANIC                    1719
WHITE                              942
(null)                             472
ASIAN / PACIFIC ISLANDER           288
MIDDLE EASTERN/SOUTHWEST ASIAN     142
AMERICAN INDIAN/ALASKAN NATIVE      22
Name: count, dtype: int64

In [60]:
df_2 = df_clean[['STOP_LOCATION_PRECINCT','SUSPECT_RACE_DESCRIPTION']]

In [61]:
df_race = df_2.groupby(['STOP_LOCATION_PRECINCT','SUSPECT_RACE_DESCRIPTION']).value_counts().reset_index(name= 'Count')

In [62]:
df_race.head()

   STOP_LOCATION_PRECINCT SUSPECT_RACE_DESCRIPTION  Count
0                       1                   (null)      1
1                       1                    BLACK     52
2                       1           BLACK HISPANIC      6
3                       1                    WHITE     17
4                       1           WHITE HISPANIC     10

In [63]:
df_race.to_csv('sf_race', index=True)

In [64]:
df.shape[0]

16971